:root{
  --white-color:#FFFFFF;
  --blue-color:#0029FF;
  --black-color:#000000;
  --header_color:#F0F0F0;
  --hero-color:#E9ECEF;
  --dots-color:#3683F0;
}

body {
  margin: 0;
  padding: 0;
}


.more-icon{
  color: var(--dots-color);
  font-size: 32px;
}

header{
  height: 90px;
  width: calc(100%-160px);
  display: flex;
  justify-content: space-between;
  background-color: var(--header_color);
  align-items: center;
  padding: 0 80px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.list ul{
  display: flex;
  gap: 20px;
}
.list ul li{
  list-style: none;
}

.btn{
  background-color: var(--blue-color);
  width: 121px;
  height: 36px;
  border-radius: 10px;
  margin-top: 24px;
}
.submit-task{
  color: var(--white-color);
  font-family: "Poppins",sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  align-content: center;
}

.left_1{
  width: 132px;
  height: 50px;
  border-radius: 0px 20px 0px 0px;
  background-color: var(--black-color);
}
.left_2{
  width: 132px;
  height: 692px;
  border-radius: 0px 0px 20px 20px;
  background: var(--white-color);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.right_container{
  display: flex;
}
.right_1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50px; 
  height: 394px;
  border-radius: 30px 0px 0px 30px;
  background: var(--black-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--white-color);
}

.right_1 img{
  padding-left: 10px;
}

.right_1 .b{
  color: var(--white-color);
  padding-left: 15px;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
  margin-bottom: 40px;
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.right_2 {
  width: 45px;
  height: 394px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
}


.hero{
  display: flex;
  justify-content: space-between;
}
.main-content{
  width: 1066px;
}
.heading{
  display: flex;
  justify-content: space-between;
}
.heading h1{
  color: var(--blue-color);
  font-family: "Poppins",sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.56px;
}
.box-content{
  height: 135px;
  background-color: var(--hero-color);
  border-radius: 5px;
  padding:5px 20px;
}
.box-content p{
  color: var(--black-color);
  font-family: "Poppins",sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
}
.box-content h3{
  color: var(--black-color);
  font-family: "Poppins",sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
}

.card_bottom{
  width: 480px;
  height: 580px;
  flex-shrink: 0;
  border-radius: 0px 0px 15px 15px;
  background-color: var(--white-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
}
.card_bottom .card-content{
  color: var(--black-color);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.32px;
  margin:30px 0px 35px 15px;
}

.card_top {
  position: relative;
  width: 465px;
  height: 45px;
  padding-right: 15px;
  border-radius: 15px 15px 0px 0px;
  background-color: var(--black-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_top div {
  color: var(--white-color);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.32px;
}

.card-heading {
  flex: 1;
  margin-left: 15px;
  text-align: center;
  color: #FFF;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.32px;
}

.info-icon {
  margin-right: 4px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 80px;
}


.left_content{
  margin-top: 26px;
  margin-left: 32px;
  width: 68px;
  height: 68px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid var(--blue-color);
  color: var(--blue-color);
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.72px;
  text-align: center;
}
.left_content div{
  margin-top: 5px;
  cursor: pointer;
}

.expanded_1 {
  position: absolute;
  z-index: 10;
  width: 392px;
  height: 62px;
  border-radius: 0px 20px 0px 0px;
  background-color: var(--black-color);
  color: var(--white-color);
  transition: all 0.5s;
}
.expanded_2 {
  position: absolute;
  width: 392px;
  height: 692px;
  flex-shrink: 0;
  border-radius: 0px 0px 20px 20px;
  background: var(--white-color);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0px 20px 0px 0px;
  background-color: var(--white-color);
  color: var(--black-color);
  transition: all 0.5s;
  z-index: 1;
}

.display_none{
  display: none;
}

.expanded_content_top{
  display: flex;
  justify-content:space-between;
  margin-right: 20px;
}

.left_heading{
  color: var(--white-color);
  font-family: "Poppins",sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.32px;
  margin-top: 20px;
  margin-left: 20px;
}

.expanded_content_top, .expanded_content_btm {
  display: none;
  transition: all 0.5s ease;
}

.expanded_content_btm li{
  color: var(--black-color);
  font-family: "Poppins",sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
}

.expanded_content_btm li div{
  margin-top: 100px;
  margin-bottom: 20px;
  color: var(--black-color);
  font-family: "Poppins",sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.32px;
}

.cards-section{
  display: flex;
  justify-content: space-around;
}

.block{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 478px;
  height: 40px;
  flex-shrink: 0;
  border: 0.1px solid rgba(0, 0, 0, 0.40);
  background: rgba(254, 255, 192, 0.20);
  color: #000;
  -webkit-text-stroke-width: 0.10000000149011612;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.40);
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.block svg{
  margin-left: 8px;
}
.block .content{
  margin-left: 80px;
}

.boxes{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.input-box {
  position: relative;
  width: 215px;
  height: 100px;
}
.upper {
  width: 199px;
  height: 30px;
  border-radius: 10px 10px 0 0;
  border: 0.1px solid #333;
  opacity: 0.5;
  background: rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 8px;
  position: absolute;
  top: 0;
  z-index: 1;
}
.upper .content{
  color: #000;
  font-family: "Open Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 4px;
}
.lower {
  width: 199px;
  height: 70px;
  border-radius: 0 0 10px 10px;
  background: white;
  position: absolute;
  top: 30px;
  left: 8px;
  box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.lower input {
  width: 90%;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
}

select{
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  width: 91px;
  height: 32px;
  flex-shrink: 0;
  color: #000;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 10px;
}
.icons_select{
  margin-top: 50px;
  display: flex;
  justify-content:center;
  margin-left: 4px;
  padding-left: 80px;
}
.icons{
  margin-top: 6px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.thread{
  margin-top: 30px;
  margin-left: 30px;
  width: 97px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #0029FF;
  color: #FFF;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.input-box-last{
  margin-left: 20px;
  margin-top: 15px;
  position: relative;
  width: 215px;
  height: 100px;
}

.upper-last {
  width: 425px;
  height: 30px;
  border-radius: 10px 10px 0 0;
  border: 0.1px solid #333;
  opacity: 0.5;
  background: rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 8px;
  position: absolute;
  top: 0;
  z-index: 1;
}
.upper-last .content{
  color: #000;
  font-family: "Open Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 4px;
}
.lower-last {
  width: 425px;
  height: 70px;
  border-radius: 0 0 10px 10px;
  background: white;
  position: absolute;
  top: 30px;
  left: 8px;
  box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.lower-last input {
  width: 90%;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
}

hr{
border: 1px solid #D1CECE;
}

.title-input{
  margin-left: 30px;
  margin-top: 20px;
  width: 422px;
  height: 43px;
  flex-shrink: 0;
  border-radius: 5px;
  border: #D1CECE;
  background: #FCFBFB;
  box-shadow: -2px 2px 6px 0px rgba(0, 0, 0, 0.15);
}
.input-title{
  margin-top: 30px;
  margin-left: 30px;
  color: #000;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.32px;
}

.input-box-top{
  margin-top: 20px;
  margin-left: 30px;
  width: 422px;
  height: 82px;
  flex-shrink: 0;
  border-radius: 5px 5px 0px 0px;
  background: #FCFBFB;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.18);
}

.input-text{
  width: 422px;
  height: 185px;
  flex-shrink: 0;
  background: #FCFBFB;
  border: #D1CECE;
  margin-left: 30px;
  box-shadow: -2px 2px 6px 0px rgba(0, 0, 0, 0.15);
}

.items-1{
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
.item{
  margin-top: 12px;
  color: #616161;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.24px;
}

.items-2{
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}

.para{
  width: 102px;
  height: 18px;
  flex-shrink: 0;
  background: #EBEBEB;
  border: none;
  border-radius: 2px;
}

.dots-3{
  color: #616161;
  margin-top: 10px;
}


.block-1{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 434px;
height: 43px;
flex-shrink: 0;
margin-left: 24px;
  border: 0.1px solid rgba(0, 0, 0, 0.40);
  background: #F2F2F2;
  color: #000;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.32px;
}
.block-1 svg{
  margin-left: 8px;
}
.block-1 .content{
  margin-left: 8px;
}

.block-2{
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 434px;
  height: 43px;
  flex-shrink: 0;
  border: 1px solid #D9D7D7;
  background: #FCFCFC;
  margin-left: 24px;
  color: #000;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.32px;
}
.block-2 svg{
  margin-left: 8px;
}
.block-2 .content{
  margin-left: 8px;
}


.text{
  margin-top: 30px;
  margin-left: 20px;
  color: #000;
font-family: "Open Sans";
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.28px;
}

.more{
  position: relative;
  left: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #606161;
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.28px;
}

.last-content{
  margin: 30px 30px;
  color: #000;
font-family: "Open Sans";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.28px;
}
.div{
  width: 394px;
  height: 43px;
  flex-shrink: 0;
  border: 1px solid #D9D7D7;
  background: #FCFCFC;
  color: #000;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
  margin-left: 30px;
  padding-left: 10px;
}

.lastt{
  color: #000;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
  margin-top: 30px;
  margin-left: 30px;
}